.layoutContainer {
    max-width: 1200px;
    min-height: 100dvh;
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-rows:  auto 1fr auto;
}

.contentContainer {
    display: flex;
}

@media screen and (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
    }
}