.groupImageContainer {
     max-width: 600px;
}

.groupImage {
    width: 100%;
}

.groupStyling {
    padding-bottom: 1rem;
    color: var(--grey-shade);
}

.descriptionStyling {
    padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: var(--text-h4);
    }
}