.sidebar {
  width: 240px; 
  padding: 1rem;
}

.sidebarItem {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--grey-shade);
  font-size: var(--text-base);
}

.sidebarItem:hover, .sidebarItem.active {
  color: var(--primary-base)
}

.active:link, .active:visited {
  font-weight: var(--font-weight-bold);
  color: var(--primary-shade);
}

.active:hover, .active:active {
  color: var(--primary-shade);
}

@media screen and (max-width: 768px) {
    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .sidebarItem {
      font-size: var(--text-sm);
    }
}