.mammalContainer {
    display: flex;
}

.animalsContainer {
    padding: 2rem 6rem;
}

@media screen and (max-width: 768px) {
    .mammalContainer {
        flex-direction: column;
    }

    .mammalStyling {
        text-align: center;
    }
}